* {
  font-family: Arial;
  box-sizing: border-box;
}

form {
  width: 90%;
  display: block;
  margin: 50px auto;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 15px;
}
form input[type=text] {
  padding: 5px;
  margin: 8px 5px 0 5px;
  line-height: initial;
}

#social-count-request-service legend {
  border-bottom: 0;
  margin-bottom: 0;
}
#heading {
  background-color: lightyellow;
  margin: -15px -15px 10px -15px;
  padding: 15px 15px 10px 15px;
  text-transform: uppercase;
}

table { width: 100%; }
table th {
  line-height: 45px;
  border-bottom: 1px solid lightgray;
}
table td { line-height: 40px; }
table tr td { width: 10%;}
table tr td:first-child { width: 40%;}
/*table tr td label { display: none; }*/